<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
           
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Cadastra-se em nossa plataforma
                </h2>
            </div>
        </div>
        <!-- Actions -->
        
    </div>

    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow bg-card">

        <!-- CONTENT GOES HERE -->
        <!-- Sign Up form -->
        <form
        class="mt-8"
        [formGroup]="signUpForm">

        <!-- Name field -->
        <mat-form-field class="w-full">
            <mat-label>Nome</mat-label>
            <input
                id="nome"
                matInput
                [formControlName]="'nome'">
            <mat-error *ngIf="signUpForm.get('nome').hasError('required')">
                Full name is required
            </mat-error>
        </mat-form-field>

        <!-- Name field -->
        <mat-form-field class="w-full">
            <mat-label>Sobrenome</mat-label>
            <input
                id="sobrenome"
                matInput
                [formControlName]="'sobrenome'">
            <mat-error *ngIf="signUpForm.get('sobrenome').hasError('required')">
                Full name is required
            </mat-error>
        </mat-form-field>

        <!-- Email field -->
        <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input
                id="email"
                matInput
                [formControlName]="'email'">
            <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                Email address is required
            </mat-error>
            <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>

        <!-- Email field -->
        <mat-form-field class="w-full">
            <mat-label>Confirmação de Email</mat-label>
            <input
                id="confirmacaoEmail"
                matInput
                [formControlName]="'confirmacaoEmail'">
            <mat-error *ngIf="signUpForm.get('confirmacaoEmail').hasError('required')">
                Email address is required
            </mat-error>
            <mat-error *ngIf="signUpForm.get('confirmacaoEmail').hasError('confirmacaoEmail')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>

        <!-- Password field -->
        <mat-form-field class="w-full">
            <mat-label>Senha</mat-label>
            <input
                id="senha"
                matInput
                type="password"
                [formControlName]="'senha'"
                #passwordField>
            <button
                mat-icon-button
                type="button"
                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                matSuffix>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
            </button>
            <mat-error>
                Password is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Confirmação de Senha</mat-label>
            <input
                id="confirmacaoSenha"
                matInput
                type="password"
                [formControlName]="'confirmacaoSenha'"
                #passwordField>
            <button
                mat-icon-button
                type="button"
                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                matSuffix>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
            </button>
            <mat-error>
                Password is required
            </mat-error>
        </mat-form-field>

        <!-- Company field -->
        <mat-form-field class="w-full">
            <mat-label>Empresa</mat-label>
            <input
                id="empresa"
                matInput
                [formControlName]="'empresa'">
        </mat-form-field>

        <!-- ToS and PP -->
        <div class="inline-flex items-end w-full mt-1.5">
            <!-- <mat-checkbox
                class="-ml-2"
                [color]="'primary'"
                [formControlName]="'agreements'">
                <span>I agree with</span>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['./']">Termos
                </a>
                <span>and</span>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['./']">Privacy Policy
                </a>
            </mat-checkbox> -->
        </div>

        <!-- Submit button -->
        <button
            class="fuse-mat-button-large w-full mt-6"
            mat-flat-button
            [color]="'primary'"
            [disabled]="signUpForm.disabled"
            (click)="signUp()">
            <span *ngIf="!signUpForm.disabled">
                Cadastrar
            </span>
            <mat-progress-spinner
                *ngIf="signUpForm.disabled"
                [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
        </button>

    </form>
        
    </div>

</div>
