.cards_loading {
    background: transparent;
    height: auto;
    width: auto;
    overflow: hidden;
  }
  
  .card_title {
    padding: 1px;
    font-size: 22px;
    font-weight: 700;
  }
  .card_title.loading {
    width: 50%;
    height: .8rem;
    margin: 1rem;
    border-radius: 3px;
    position: relative;
  }
  .card-body{
    max-height: 10rem;
    overflow: hidden;
  }
  .card_description {
    padding: 8px;
    font-size: 16px;
  }
  .card_description.loading {
    height: .5rem;
    margin: .5rem .5rem .5rem 1rem;
    border-radius: 3px;
  }
  .loading {
    position: relative;
    background: #cccccc;
  }
  .loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100px);
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2), transparent);
    animation: loading 0.5s infinite;
  }
  @keyframes loading {
    50% {
        transform: translateX(100%);
    }    
  } 