<div *transloco="let t" class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-12 sm:pb-28 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
           
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{t('usuario.cadastro.titulo')}}
                </h2>
                <div class="max-w-xl mt-2 text-xl text-secondary">
                    {{t('usuario.cadastro.subtitulo')}}
                </div>
            </div>
        </div>
        <!-- Actions -->
        
    </div>


    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 rounded-t-2xl shadow bg-card">
        <fuse-alert *ngIf="cadastroSucesso"
        [type]="'success'"
        [appearance]="'border'">
        <span fuseAlertTitle>{{t('usuario.cadastro.titulo-sucesso')}}</span>
        {{t('usuario.cadastro.subtitulo-sucesso')}}
        </fuse-alert>

        <!-- CONTENT GOES HERE -->
        <!-- Sign Up form -->
        <form *ngIf="!cadastroSucesso"
        class="mt-8"
        [formGroup]="signUpForm">

        <!-- Name field -->
        <mat-form-field class="w-full">
            <mat-label>{{t('usuario.cadastro.campos.nome')}}</mat-label>
            <input
                id="nome"
                matInput
                [formControlName]="'nome'">
            <mat-error *ngIf="signUpForm.get('nome').hasError('required')">
                {{t('usuario.cadastro.validacao.nome-obrigatorio')}}
            </mat-error>
        </mat-form-field>

        <!-- Name field -->
        <mat-form-field class="w-full">
            <mat-label>{{t('usuario.cadastro.campos.sobrenome')}}</mat-label>
            <input
                id="sobrenome"
                matInput
                [formControlName]="'sobrenome'">
            <mat-error *ngIf="signUpForm.get('sobrenome').hasError('required')">
                {{t('usuario.cadastro.validacao.sobrenome-obrigatorio')}}
            </mat-error>
        </mat-form-field>

        <!-- Email field -->
        <mat-form-field class="w-full">
            <mat-label>{{t('usuario.cadastro.campos.email')}}</mat-label>
            <input
                id="email"
                matInput
                [formControlName]="'email'">
            <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                {{t('usuario.cadastro.validacao.email-obrigatorio')}}
            </mat-error>
            <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                {{t('usuario.cadastro.validacao.email-formato')}}
            </mat-error>
        </mat-form-field>

        <!-- Email field -->
        <mat-form-field class="w-full">
            <mat-label>{{t('usuario.cadastro.campos.confirmacao-email')}}</mat-label>
            <input
                id="confirmacaoEmail"
                matInput
                [formControlName]="'confirmacaoEmail'">
            <mat-error *ngIf="signUpForm.get('confirmacaoEmail').hasError('required')">
                {{t('usuario.cadastro.validacao.confirmacao-email-obrigatorio')}}
            </mat-error>
            <mat-error *ngIf="signUpForm.get('confirmacaoEmail').hasError('email')">
                {{t('usuario.cadastro.validacao.confirmacao-email-formato')}}
            </mat-error>
        </mat-form-field>

        <!-- Password field -->
        <mat-form-field class="w-full">
            <mat-label>{{t('usuario.cadastro.campos.senha')}}</mat-label>
            <input
                id="senha"
                matInput
                type="password"
                [formControlName]="'senha'"
                #senhaField>
            <button
                mat-icon-button
                type="button"
                (click)="senhaField.type === 'password' ? senhaField.type = 'text' : senhaField.type = 'password'"
                matSuffix>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="senhaField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="senhaField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
            </button>
            <mat-error>
                {{t('usuario.cadastro.validacao.senha-obrigatorio')}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>{{t('usuario.cadastro.campos.confirmacao-senha')}}</mat-label>
            <input
                id="confirmacaoSenha"
                matInput
                type="password"
                [formControlName]="'confirmacaoSenha'"
                #confirmacaoSenhaField>
            <button
                mat-icon-button
                type="button"
                (click)="confirmacaoSenhaField.type === 'password' ? confirmacaoSenhaField.type = 'text' : confirmacaoSenhaField.type = 'password'"
                matSuffix>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="confirmacaoSenhaField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="confirmacaoSenhaField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
            </button>
            <mat-error  *ngIf="signUpForm.get('confirmacaoSenha').hasError('required')">
                {{t('usuario.cadastro.validacao.confirmacao-senha-obrigatorio')}}
            </mat-error>
            <mat-error *ngIf="signUpForm.get('confirmacaoSenha').hasError('senhaConfirmacao')">
               Senha não é igual
            </mat-error>
        </mat-form-field>

        <!-- Company field -->
        <mat-form-field class="w-full">
            <mat-label>{{t('usuario.cadastro.campos.empresa')}}</mat-label>
            <input
                id="empresa"
                matInput
                [formControlName]="'empresa'">
                <mat-error *ngIf="signUpForm.get('empresa').hasError('required')">
                    {{t('usuario.cadastro.validacao.empresa-obrigatorio')}}
                </mat-error>
        </mat-form-field>

        <!-- ToS and PP -->
        <div class="inline-flex items-end w-full mt-1.5">
            <!-- <mat-checkbox
                class="-ml-2"
                [color]="'primary'"
                [formControlName]="'agreements'">
                <span>I agree with</span>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['./']">Termos
                </a>
                <span>and</span>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['./']">Privacy Policy
                </a>
            </mat-checkbox> -->
        </div>

      
        <fuse-alert *ngIf="cadastroErro.display"
        [type]="'error'"
        [appearance]="'border'">
        <span fuseAlertTitle>{{t('titulo-erro-generico')}}</span>
        {{cadastroErro.message}}
        </fuse-alert>

        <!-- Submit button -->
        <button
            class="fuse-mat-button-large w-full mt-6"
            mat-flat-button
            [color]="'primary'"
            [disabled]="signUpForm.disabled"
            (click)="signUp()">
            <span *ngIf="!signUpForm.disabled">
                {{t('usuario.cadastro.botao-cadastro')}}
            </span>
            <mat-progress-spinner
                *ngIf="signUpForm.disabled"
                [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
        </button>

    </form>
        
    </div>

</div>
