
<div class="relative flex flex-col flex-auto min-w-0 overflow-hidden">

    <!-- Header & Cards -->
    <div class="relative pt-8 pb-12 sm:pt-20 sm:pb-24 px-6 sm:px-16 overflow-hidden">
        <!-- Background - @formatter:off -->
        <svg class="-z-1 absolute inset-0"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="opacity-40 text-gray-200 dark:text-gray-800" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <!-- Header -->
        <div class="flex flex-col items-center">
            <h2 class="text-xl font-semibold">Encontre o plano que mais se encaixa com o seu negócio</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Confira nossos planos
            </div>
            <div class="mt-3 sm:text-2xl text-center tracking-tight text-secondary">
                <div class="">Selecione abaixo o seu perfil</div>
                <div class="">Verifique as características de cada plano</div>
            </div>
           
            <!-- Recurring selector -->
            <div class="flex items-center mt-8 sm:mt-16 p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
                <button *ngFor="let perfil of perfilPlanosList"
                    class="px-6"
                    [ngClass]="{'bg-card pointer-events-none shadow': perfil.value == perfilSelected.value,
                    'bg-transparent': perfil.value != perfilSelected.value}"
                    mat-flat-button
                    (click)="onFilterByPerfil(perfil.value)"
                    disableRipple>
                    {{perfil.value}}
                </button>
               
            </div>

             <!-- Cards -->
            <div class="flex justify-center mt-10 sm:mt-20">
                <div class="w-full max-w-sm md:max-w-7xl">
                    <div *ngIf="perfilSelected" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-6 lg:gap-y-0 md:gap-x-6">
                      
                        <!-- Card 2 -->
                        <fuse-card *ngFor="let item of perfilSelected.planos" class="flex-col max-w-sm md:max-w-none p-6 sm:py-12 sm:px-10 ring-2 ring-primary overflow-visible">
                            <div class="absolute inset-x-0 -top-4 flex items-center justify-center">
                                <!-- <div class="flex items-center h-8 px-8 rounded-full font-medium text-center leading-none bg-primary text-on-primary">POPULAR</div> -->
                            </div>
                            <div class="text-4xl font-bold tracking-tight leading-tight">{{formatPlan(item.nomeProduto, perfilSelected.value)}}</div>
                            <div class="mt-2 text-lg font-medium tracking-tight text-secondary">{{item.descricao ?? 'Estamos analisando qual tipo de cliente melhor se encaixa neste plano'}}</div>
                            <div class="w-8 h-1 my-10 rounded bg-accent"></div>
                            <!-- Price -->
                            <div class="flex items-baseline whitespace-nowrap">
                                <div class="mr-2 text-2xl">R$</div>
                                <div class="text-6xl font-semibold leading-tight tracking-tight">
                                    <ng-container>{{item.preco}},00</ng-container>
                                    <!-- <ng-container *ngIf="!yearlyBilling">$15.00</ng-container> -->
                                </div>
                            </div>
                            <!-- Price details -->
                            <div class="flex flex-col mt-2 text-secondary">
                                <ng-container>
                                    <div>Mensalidade</div>
                                </ng-container>
                            </div>
                            <!-- CTA -->
                            <button
                                class="fuse-mat-button-large mt-10"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="onSignup()">
                                Registrar-se
                            </button>
                            <!-- Features -->
                            <div class="flex flex-col mt-12">
                                <div class="font-semibold">Características</div>
                                <div class="mt-4 space-y-2">
                                    <div class="flex" *ngFor="let feature of item.features">
                                        <mat-icon
                                            class="icon-size-5 text-green-600"
                                            [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                        <div class="ml-2 leading-5">{{feature}}</div>
                                    </div>
                                 
                                </div>
                            </div>
                        </fuse-card>
                       
                    </div>
                </div>
            </div>
       

        <div *ngIf="perfilSelected" class="flex flex-col items-center mt-10 sm:mt-20">
            <fuse-card class="flex-col lg:flex-row w-full lg:max-w-7xl overflow-x-auto overflow-y-hidden">
                <div class="grid grid-flow-col lg:grid-flow-row min-w-max lg:min-w-0 divide-x lg:divide-x-0 lg:divide-y">
                   

                    <div class="grid grid-flow-row auto-rows-fr lg:grid-flow-col lg:auto-cols-fr divide-y lg:divide-y-0 lg:divide-x bg-gray-100 dark:bg-transparent">
                        <div class="flex items-center justify-center lg:justify-start p-4 ">
                            <div class="flex items-center lg:items-start max-w-32 lg:max-w-none p-4 font-medium lg:font-normal text-center lg:text-left">Recursos</div>
                        </div>
                        <div *ngFor="let item of perfilSelected.planos" class="flex items-center justify-center lg:justify-start p-4">
                            <div class="flex items-center lg:items-start max-w-32 lg:max-w-none p-4 font-medium lg:font-normal text-center lg:text-left">{{formatPlan(item.nomeProduto, perfilSelected.value)}}</div>
                        </div>
                       
                    </div>
                    

                    <div  *ngFor="let item of perfilSelected.recursosMap | keyvalue" class="grid grid-flow-row auto-rows-fr lg:grid-flow-col lg:auto-cols-fr divide-y lg:divide-y-0 lg:divide-x">
                        <div class="flex items-center lg:items-start max-w-32 lg:max-w-none p-4 font-medium lg:font-normal text-center lg:text-left">
                            {{item.key}}
                        </div>
                        <!-- Basic -->
                        <div class="flex items-center justify-center lg:justify-start p-4">
                            <mat-icon
                                [ngClass]="{'icon-size-5 text-green-600': getCellRecursoPlano(item, perfilSelected.value, 'Basic'),
                            'icon-size-5': !getCellRecursoPlano(item, perfilSelected.value, 'Basic')}"
                                class="icon-size-5 text-green-600"
                                svgIcon="{{(getCellRecursoPlano(item, perfilSelected.value, 'Basic') ? 'heroicons_solid:check' : 'heroicons_solid:minus')}}"></mat-icon>
                        </div>
                        <!-- Business -->
                        <div class="flex items-center justify-center lg:justify-start p-4">
                            <mat-icon
                            [ngClass]="{'icon-size-5 text-green-600': getCellRecursoPlano(item, perfilSelected.value, 'Business'),
                            'icon-size-5': !getCellRecursoPlano(item, perfilSelected.value, 'Basic')}"
                             svgIcon="{{getCellRecursoPlano(item, perfilSelected.value, 'Business') ? 'heroicons_solid:check' : 'heroicons_solid:minus'}}"></mat-icon>
                        </div>
                        <!-- Enterprise -->
                        <div class="flex items-center justify-center lg:justify-start p-4">
                            <mat-icon
                            [ngClass]="{'icon-size-5 text-green-600': getCellRecursoPlano(item, perfilSelected.value, 'Enterprise'),
                            'icon-size-5': !getCellRecursoPlano(item, perfilSelected.value, 'Basic')}"                                
                            svgIcon="{{getCellRecursoPlano(item, perfilSelected.value, 'Enterprise') ? 'heroicons_solid:check' : 'heroicons_solid:minus'}}"></mat-icon>
                        </div>
                    </div>


                  

                   
                    <div class="grid grid-flow-row auto-rows-fr lg:grid-flow-col lg:auto-cols-fr divide-y lg:divide-y-0 lg:divide-x">
                        <div class="flex items-center lg:items-start max-w-32 lg:max-w-none p-4 font-medium lg:font-normal text-center lg:text-left">Additional fees using other payment</div>
                        <!-- Personal -->
                        <div class="flex items-center justify-center lg:justify-start p-4">-</div>
                        <!-- Premium -->
                        <div class="flex items-center justify-center lg:justify-start p-4">-</div>
                        <!-- Enterprise -->
                        <div class="flex items-center justify-center lg:justify-start p-4">-</div>
                    </div>
                </div>
            </fuse-card>
        </div>
    </div>
    </div>


    <!-- CTA -->
    <div class="px-6 py-10 sm:py-12 sm:px-16 bg-primary-600 text-on-primary-600">
        <div class="flex flex-col items-center w-full max-w-7xl mx-auto text-center">
            <div class="text-3xl sm:text-4xl sm:text-5xl font-extrabold leading-6 sm:leading-10">Boost your productivity.</div>
            <div class="mt-2 text-3xl sm:text-4xl sm:text-5xl font-extrabold leading-6 sm:leading-10 text-black text-opacity-70">Start using Fuse today.</div>
            <button
                mat-flat-button
                class="fuse-mat-button-large mt-8 px-12 bg-white text-primary-800">
                <span class="text-lg">Sign up for free</span>
            </button>
        </div>
    </div>

    <!-- Frequently asked questions -->
    <div class="flex flex-col items-center pt-12 sm:pt-18 pb-8 sm:pb-20 px-6 sm:px-16 bg-gray-50 dark:bg-gray-800">
        <div class="w-full max-w-7xl">
            <div>
                <div class="text-4xl font-extrabold tracking-tight leading-tight">
                    Frequently asked questions
                </div>
                <div class="max-w-xl mt-2 text-xl text-secondary">
                    Here are the most frequently asked questions you may check before getting started
                </div>
            </div>
            <!-- FAQs grid -->
            <div class="grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:gap-x-16 w-full mt-12 sm:mt-16">
                <div>
                    <div class="text-xl font-semibold">
                        What is the duration of the free trial?
                    </div>
                    <div class="mt-2 leading-6 text-secondary">
                        <p>
                            Our app is free to try for 14 days, if you want more, you can provide
                            payment details which will extend your trial to 30 days providing you
                            an extra 16 more days to try our app.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="text-xl font-semibold">
                        Are there discounts for non-profits or educational use?
                    </div>
                    <div class="mt-2 leading-6 text-secondary">
                        <p>
                            Yes, our Personal and Premium packages are free for non-profits and
                            educational use. E-mail your details to us after starting your Free
                            Trial and we will upgrade your account if you qualify.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="text-xl font-semibold">
                        What is the storage is for?
                    </div>
                    <div class="mt-2 leading-6 text-secondary">
                        <p>
                            Since we provide an extremely detailed reporting and analytics
                            tool, they require quite a bit storage space. For average use, you
                            don’t have to worry about running out of space since the
                            Personal package limits the projects you can have.
                        </p>
                        <p class="mt-2">
                            For some reason if you run out of space, contact us and we will
                            see what can be done about it and make sure you are not
                            generating unnecessary reports and/or analytics data.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="text-xl font-semibold">
                        What happens if I’m not satisfied?
                    </div>
                    <div class="mt-2 leading-6 text-secondary">
                        <p>
                            If you are still in your free trial period, you can cancel your
                            account at anytime with a single click of a button. If you already
                            paid for your first month, we also offer 30-day money-back
                            guarantee with no questions asked.
                        </p>
                        <p class="mt-2">
                            After first month, you can still cancel your account at any time
                            but we will calculate the amount that corresponds to days you
                            have been using our app for that month and refund only the
                            remaining amount.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
